/* =========================
   Hero
========================= */
.hero--home {
  background-image: url("../images/hero/hero-home.webp");
  background-size: cover;
  background-position: center;
}

.hero--home .hero__description {
  padding-block: 45px;
}

/* =========================
   Categories
========================= */
.categories {
  padding-block: 60px;
}

.categories__wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.categories__header {
  display: flex;
  justify-content: space-between;
}

.categories__title {
  font-weight: 700;
  font-size: 40px;
}

.categories__controls {
  display: flex;
  gap: 40px;
}

.categories__list {
  display: flex;
  gap: 24px;
}

.category-card__image img {
  border-radius: 20px 20px 0 0;
}

.category-card__contents {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f5f5f5;
}

.category-card__info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.category-card__name {
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
}

.category-card__count {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.6);
}

/* =========================
   Featured
========================= */
.featured {
  padding-block: 60px 120px;
}

.featured__wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.featured__title {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}

.featured__list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.featured .product-card__name {
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
}

.featured .product-card__price {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
}

/* =========================
   Promo
========================= */
.promo {
  background-image: url("../images/common/home-promo.webp");
  background-size: cover;
  background-position: 40% center;
}

.promo__wrapper {
  display: flex;
  padding-block: 120px;
}

.promo__content {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-left: auto;
}

.promo__body {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.promo__heading {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.promo__subtitle {
  font-weight: 700;
  font-size: 16px;
  color: #f97316;
}

.promo__title {
  max-width: 587px;
  font-weight: 700;
  font-size: 40px;
}

.promo__desc {
  max-width: 479px;
  font-weight: 500;
  font-size: 16px;
}

.promo__button {
  align-self: flex-start;
  padding-inline: 40px;
}

/* =========================
   Partners
========================= */
.partners__wrapper {
  padding-block: 60px;
}

.partners__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.partners__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.partners__name {
  font-weight: 500;
  font-size: 16px;
  color: #f97316;
}

/* =========================
   Bestsellers
========================= */
.bestsellers {
  padding-block: 60px;
}

.bestsellers__wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.bestsellers__title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
}

.bestsellers__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

/* =========================
   News
========================= */
.news {
  padding-block: 60px;
}

.news__wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.news__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.news-card__image {
  position: relative;
  width: 100%;
  aspect-ratio: 416 / 360;
}

.news-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.badge.news-card__label {
  position: absolute;
  top: 20px;
  left: 20px;
}

.news-card__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  background-color: #f5f5f5;
  border-radius: 0 0 10px 10px;
}

.news-card__date {
  font-weight: 500;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}

.news-card__title {
  font-weight: 600;
  font-size: 20px;
}

/* =========================
   Hero Shop
========================= */
.hero--shop {
  background-image: url("../images/hero/hero-shop.webp");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}

.hero--shop .hero__content {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

/* =========================
   Shop
========================= */
.shop {
  padding-block: 60px;
}

.shop__wrapper {
  display: flex;
  gap: 24px;
}

.shop__sidebar {
  width: 306px;
  flex-shrink: 0;
}

.shop__filters {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.filter__categories-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.filter__price-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filter__brands-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.filter__tags-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.filter__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filter__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter__name {
  display: flex;
  align-items: center;
  gap: 8px;
}

.filter__count {
  font-weight: 500;
  font-size: 14px;
  color: #f97316;
  padding: 4px 8px;
  border-radius: 12px;
  background-color: #f5f5f5;
}

.filter__price {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input[type="range"] {
  appearance: none;
  width: 100%;
  height: 4px;
  background: #f97316;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #f97316;
}

.filter__price-info {
  display: flex;
  justify-content: space-between;
}

.filter__price-button {
  padding: 2px 20px;
  font-weight: 600;
  font-size: 16px;
}

.filter__tags {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.filter__tag {
  padding: 6px 12px;
  background-color: #f5f5f5;
  border-radius: 12px;
  white-space: nowrap;
}

.popular-products-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 28px;
}

.popular-products__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.popular-products__item {
  width: 310px;
  display: flex;
  gap: 12px;
}

.shop__content {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.shop__toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  color: #666666;
}

.shop__sort select {
  border: 1px solid #666666;
  border-radius: 6px;
}

.shop__sort label,
.shop__sort select,
.shop__sort option {
  color: #666666;
}

.shop__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.shop__pagination {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.shop__pagination-list {
  grid-column: 2;
  display: flex;
  gap: 24px;
  font-weight: 600;
  font-size: 20px;
  color: #666666;
}

.shop__pagination-item.shop__pagination-item--active {
  background-color: #f97316;
  color: #fff;
  border: 2px solid #f97316;
}

.shop__pagination-item {
  width: 40px;
  height: 40px;
  border: 2px solid #666666;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.shop__pagination-next {
  grid-column: 3;
  justify-self: end;
  display: flex;
  gap: 8px;

  width: 105px;
  height: 40px;
  border: 2px solid #666666;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.shop__pagination-text {
  font-weight: 500;
  font-size: 20px;
  color: #666666;
}

/* =========================
   Shop
========================= */
.shop-banners {
  padding-block: 60px;
}

.shop-banners__list {
  display: flex;
  gap: 24px;
}

/* =========================
   Hero About
========================= */
.hero--about {
  background-image: url("../images/hero/hero-about.webp");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}

.hero--about .hero__content {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

/* =========================
   About Store
========================= */
.about-store {
  padding-block: 60px;
}

.about-store__wrapper {
  display: flex;
  flex-direction: column;
  gap: 47px;
}

.about-store__heading {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about-store__title {
  font-weight: 600;
  font-size: 40px;
}

.about-store__content {
  display: flex;
  gap: 110px;
}

.about-store__description {
  max-width: 580px;
}

.about-store__stats {
  display: flex;
  justify-content: space-between;
}

.about-store__stat {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about-store__number {
  font-weight: 600;
  font-size: 32px;
  color: #f97316;
  line-height: 1;
}

.about-store__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

/* =========================
   Founder
========================= */
.founder {
  padding-block: 60px;
}

.founder__wrapper {
  display: flex;
  gap: 110px;
}

.founder__content {
  display: flex;
  flex-direction: column;
  padding-block: 80px;
}

.founder__body {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.founder__heading {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.founder__name {
  font-weight: 600;
  font-size: 40px;
  line-height: 1;
}

.founder__role {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
}

.founder__desc {
  max-width: 636px;
}

.founder__sign {
  width: 186px;
  height: auto;
  padding-top: 26px;
}

/* =========================
   Team
========================= */
.team {
  padding-block: 60px 120px;
}

.team__wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.team__title {
  text-align: center;
  font-weight: 600;
  font-size: 40px;
}

.team__list {
  display: flex;
  gap: 24px;
}

.team__item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.team__member {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.team__name {
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
}

.team__role {
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}

/* =========================
   Testimonials
========================= */
.testimonials {
  padding-bottom: 48px;
}

.testimonials__wrapper {
  display: flex;
  align-items: center;
  gap: 72px;
}

.testimonials__review {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.testimonials__header {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.testimonials__subtitle {
  font-weight: 700;
  font-size: 16px;
  color: #f97316;
}

.testimonials__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2;
}

.testimonials__body {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.testimonials__stars {
  display: flex;
  gap: 12px;
}

.testimonials__desc {
  max-width: 680px;
}

.testimonials__reviewer {
  display: flex;
  justify-content: space-between;
}

.testimonials__contents {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.testimonials__info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.testimonials__name {
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
}

.testimonials__role {
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.6);
}

.testimonials__arrow {
  display: flex;
  gap: 40px;
}

.testimonials__img {
  width: 567px;
  height: 540px;
  background-image: url("../images/common/testimonials-back.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
}

.testimonials__person {
  position: absolute;
  width: 366px;
  height: 366px;
  border-radius: 50%;
  object-fit: cover;

  top: 50%;
  left: 52%;
  transform: translate(-50%, -50%);
}

/* =========================
   Video
========================= */
.video {
  padding-block: 120px 60px;
}

.video__image {
  position: relative;
}

.video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* =========================
   Instagram
========================= */
.instagram {
  padding-block: 60px;
}

.instagram__wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.instagram__title {
  text-align: center;
  font-weight: 600;
  font-size: 40px;
}

.instagram__images {
  display: flex;
  gap: 24px;
}

/* =========================
   Hero contact
========================= */
.hero--contact {
  background-image: url("../images/hero/hero-contact.webp");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}

.hero--contact .hero__content {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

/* =========================
   Contact
========================= */
.contact {
  padding-block: 60px;
}

.contact__wrapper {
  display: flex;
  gap: 110px;
}

.contact-form {
  padding: 40px;
  background-color: #f5f5f5;
  border-radius: 20px;
}

.contact-form__body {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact-form__row {
  display: flex;
  gap: 24px;
}

.contact-form__field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.contact-form__label {
  font-weight: 600;
  font-size: 16px;
}

.contact-form__input {
  border: none;
  padding: 9px 16px;
  border-radius: 6px;
}

.contact-form__message {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contact-form__textarea {
  min-height: 160px;
  border: none;
  padding: 9px 16px;
  border-radius: 6px;
}

.contact-form__button {
  align-self: flex-start;
  padding-inline: 60px;
  color: #fff;
  font-size: 16px;
  background-color: #f97316;
}

.contact__info {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contact__header {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contact__title {
  font-weight: 600;
  font-size: 40px;
}

.contact__desc {
  max-width: 636px;
}

.contact__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contact__item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact__value {
  font-weight: 600;
  font-size: 20px;
}

/* =========================
   Map
========================= */
.map {
  padding-block: 60px;
}

.map__frame {
  width: 100%;
  min-height: 420px;
  border-radius: 20px;
  border: none;
}
